
#main-list-recipes {

    background-color:solid #000;
    background-color: white; 
}

.margin-right-custom {
    margin-left: 20px; 
}

.carousel-item img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
}


.card {
    margin: 15px;

}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}



#main_people {
    display: flex;
    flex-wrap: wrap;
    justify-content: even;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item .remove-btn {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.btn-primary {
    background-color: rgb(55, 55, 121);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 16px; 
}
.btn-danger {
    background-color: rgb(129, 28, 28);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 16px; 
}


#todo-list-container {
    margin: 20px;
}


.footer1 .py-5 {
    background-color: #030303; 
    color: #ffffff; 
}


footer h5 p {
    color: #fcfcfc;
}

footer h5 p:hover {
    color: #000000; 
}


footer ul.list-unstyled a i:hover {
    filter: none; 
    color: aquamarine;
}


.btn-custom {
    border: 0;
    background-image: linear-gradient(
        150deg,
        #7a7a7a,
        #333333,
        #161616
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px 12px; 
    cursor: pointer;
    transition: .3s;
    text-align: center; 
    align-items: center; 
    justify-content: center; 
}

.btn-custom:hover {
    background-image: linear-gradient(
        150deg,
        #161616
        #333333,
        #7a7a7a
    );
}


.iconos .instagram:hover{
    color:#f807c4;
  }

  .iconos .twitter:hover{
    color:#07e8f8;
  }
  .iconos .facebook:hover{
    color:#0703fa;
  }
  .iconos .github:hover{
    color: #03b403;
  }
  .iconos .discord:hover{
    color: #b40303;
  }

